<app-page-title title="Terms &amp; Conditions"></app-page-title>
<ul>
    <li>The minors or those who are below 18 years should not place
        paid-orders without taking prior consent of parents.
    </li>
    <li>'{{data.brand}}' tries to give the best advice based upon
        Established Astrological texts &amp; beliefs. However, everyone is entirely free either to follow or not
        to follow the advice(s) expressed by this site. No astrological explanation shall be given in case the
        predictions or suggestions made by us do not come true or do not fulfill your expectations. For most of
        the people, <b>Astrology is largely a matter of faith, belief or even amusement whatever one may
            perceive it to be. We do not attach any degree of guarantee or warranty with the different kind of
            service offered by us. It is purely at the discretion and risk of the customer if one wants to go by
            our advice/ suggestion or not.</b></li>
    <li>No Claims or Refunds should therefore be forced-upon the site.</li>
    <li>Clicking on any of our services mean that you have read and agree
        with the Term &amp; Conditions, the Privacy policy &amp; the Disclaimer of this site.
    </li>
    <li>No Registration is required to go through any part of this site.</li>
    <li>Your personal information i.e. telephone no or the email address
        shall not be disclosed to anyone by us at any cost.
    </li>
    <li>The questions should be asked in English/Hindi only.</li>
    <li>We do not Provide or Sell any kind of <strong>Yantra</strong>, Gem
        stones, Rings, Metal or Chains etc.
    </li>
    <li>The 'Terms &amp; Conditions' on this page may change from time to
        time and one must re-read it every time before a fresh consultancy is asked.
    </li>
    <li>We can send call/sms very rarely about our offer only to our users.</li>
</ul>