<div>
    <div class="action-buttons">
        <div>
            <span class="login-user">Welcome, <span class="logged-in-usr">{{currentUser}}</span></span>
        </div>
        <div>
            <a type="button" class="btn btn-link logout-btn" (click)="logout()"> Logout</a>
        </div>
    </div>
    <hr>
    <div class="filter-section">
        <div class="form-group form-inline">
            <label for="sel1" class="select-label">Status</label>
            <select class="form-control" id="sel1" (change)="onFilterSelect($event)">
                <option *ngFor="let status of filter" value="{{status}}">{{status}}</option>
            </select>
        </div>
    </div>
    <hr>
    <div>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel *ngFor="let q of queries; let i= index" id="toggle-{{q.id}}">
                <ng-template ngbPanelHeader let-opened="opened">
                    <div class="d-flex align-items-center justify-content-between" (click)="panelClicked(q.id, acc)">
                        <div>
                            <span class="mr-1">#{{q.id}} - {{q.query.fname}}</span>
                            <span [ngClass]="getBadge(q.status)">{{q.status}}</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="query-item">
                        <div class="query-key">Email</div>
                        <div class="query-value">{{q.query.email}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Name</div>
                        <div class="query-value">{{q.query.fname}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Primary Contact</div>
                        <div class="query-value">{{q.query.primary}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Secondary Contact</div>
                        <div class="query-value">{{q.query.secondary}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">State</div>
                        <div class="query-value">{{q.query.sob}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">City</div>
                        <div class="query-value">{{q.query.pob}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Date of Birth</div>
                        <div class="query-value">{{q.query.dob}}</div>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Time of Birth</div>
                        <div class="query-value">{{q.query.tob}}</div>
                    </div>
                    <div class="query-item">
                        <div class="query-key">Questions</div>
                        <ul>
                            <li class="query-value" *ngFor="let q of q.query.questions">{{q.question}}</li>
                        </ul>
                    </div>

                    <div class="query-item">
                        <div class="query-key">Service</div>
                        <div class="query-value">{{q.query.service}}</div>
                    </div>

                    <div class="text-align-center mt-5">
                        <button *ngIf="canShowResolved(q.status)" ngbPanelToggle type="button" class="btn btn-info mr-1"
                                (click)="updateStatus(q, RESOLVED, acc)">
                            Resolved
                        </button>
                        <button *ngIf="canShowReject(q.status)" ngbPanelToggle type="button" class="btn btn-danger mr-1"
                                (click)="updateStatus(q, REJECT, acc)">
                            Reject
                        </button>
                        <button *ngIf="canShowAck(q.status)" ngbPanelToggle type="button" class="btn btn-success"
                                (click)="updateStatus(q, ACK, acc)">
                            Acknowledge
                        </button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
