@import "src/utilities/colorpalette";


.col-text {
}

.grid-flex {
  border: 1px solid white;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-left {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.col-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  width: 60%;
}

.col-image {
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);
}

.cost {
  color: white;
  font-weight: 700;
  font-size: 20px;

  .old-price {
    font-size: 12px;
    color: lightgrey;
    margin-left: 15px;
    text-decoration: line-through;
    font-weight: 400;
  }
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .col {
    order: inherit;
  }
  .col-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .aligner-item {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .grid-flex {
    height: 50em;
  }
}

@media (max-width: 330px) {
  .grid-flex {
    height: 60em;
  }

  .cost {
    font-size: 16px;

    .old-price {
      font-size: 8px;
    }
  }
}


.title {
  text-align: center;
  margin: 30px;
}

.service-heading {
  text-decoration: underline;
  color: $primary
}
