<h2 class="title">Our Services</h2>
<section>
    <div class="grid-flex" *ngFor="let service of data.services; let i = index">
        <div class="col col-image"
             [ngStyle]="{'background-image': 'url(' + service.image + ')'}">
        </div>
        <div [ngClass]="(i%2 ==0) ? 'col col-text' : 'col col-text col-left'">
            <div class="aligner-item">
                <div class="text-center">
                    <h3 class="service-heading">{{service.heading}}</h3>
                    <div [innerHTML]="service.para"></div>
<!--                    <p class="cost">-->
<!--                        <span class="new-price">{{service.newPrice}} {{service.additionalInfo}}</span>-->
<!--                        <span class="old-price">{{service.oldPrice}}</span>-->
<!--                    </p>-->
                    <div class="text-center mt-5 mb-5">
                        <a class="btn btn-primary my-btn" [routerLink]="['/submit-query', {service: service.id}]"
                           role="button">{{data.getStarted}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>