.title {
  text-align: center;
  margin: 30px;
}

.tile-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.home-carousal {
  border-top: 2px solid white;
  margin-top: 10px;
}

.my-btn {
  width: 20%;
}