$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-600: #868e96;
$gray-800: #343a40;

$red: #dc3545;
$yellow: #ffc107;
$green: #006600;
$blue-dark: #3366cc;
$cyan: #17a2b8;
$dark: #343a40;


$facebook: #3b5998;
$linkedin: #007bb6;
$instagram: #ea4c89;
$twitter: #00aced;
