<div class="container-fluid" *ngIf="contentLoaded">
    <div class="title"><h2>{{formContent.title}} </h2></div>
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label required">{{formContent.email}}</label>
            <div class="col-md-10">
                <input required type="text" formControlName="email" class="form-control" id="email" name="email">
                <div *ngIf="formControls.email.touched">
                    <p class="error" *ngIf="formControls.email.errors?.required">{{appService.getMessage('emailRequired')}}</p>
                    <p class="error" *ngIf="formControls.email.errors?.pattern">{{appService.getMessage('invalidEmail')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="fname" class="col-md-2 col-form-label required">{{formContent.fname}}</label>
            <div class="col-md-10">
                <input required formControlName="fname" type="text" class="form-control" id="fname" name="fname">
                <div *ngIf="formControls.fname.touched">
                    <p class="error" *ngIf="formControls.fname.errors?.required">{{appService.getMessage('fnameRequired')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="pob" class="col-md-2 col-form-label required">{{formContent.pob}}</label>
            <div class="col-md-10">
                <input required formControlName="pob" type="text" class="form-control" id="pob" name="pob">
                <div *ngIf="formControls.pob.touched">
                    <p class="error" *ngIf="formControls.pob.errors?.required">{{appService.getMessage('pobRequired')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="latitude" class="col-md-2 col-form-label">{{formContent.latitude}}</label>
            <div class="col-md-4">
                <input formControlName="latitude" type="text" class="form-control" name="latitude"
                       id="latitude">
            </div>

            <label for="longitude" class="col-md-2 col-form-label">{{formContent.longitude}}</label>
            <div class="col-md-4">
                <input formControlName="longitude" type="text" class="form-control" name="longitude" id="longitude">
            </div>
        </div>


        <div class="form-group row">
            <label for="primary" class="col-md-2 col-form-label required">{{formContent.primary}}</label>
            <div class="col-md-4">
                <input formControlName="primary" type="text" class="form-control" name="primary" id="primary">
                <div *ngIf="formControls.primary.touched">
                    <p class="error" *ngIf="formControls.primary.errors?.required">{{appService.getMessage('primaryRequired')}}</p>
                    <p class="error" *ngIf="formControls.primary.errors?.pattern">{{appService.getMessage('invalidNumber')}}</p>
                </div>
            </div>

            <label for="secondary" class="col-md-2 col-form-label">{{formContent.secondary}}</label>
            <div class="col-md-4">
                <input formControlName="secondary" type="text" class="form-control" name="secondary" id="secondary">
                <div *ngIf="formControls.secondary.touched">
                    <p class="error" *ngIf="formControls.secondary.errors?.pattern">{{appService.getMessage('invalidNumber')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="dob" class="col-md-2 col-form-label required">{{formContent.dob}}</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control" required name="dob" id="dob" formControlName="dob" ngbDatepicker
                           [minDate]="{year: 1900, month: 1, day: 1}"
                           #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="formControls.dob.touched"><p class="error" *ngIf="formControls.dob.errors?.required">{{appService.getMessage('dobRequired')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" for="tob" class="col-md-2 col-form-label required time-input">{{formContent.tob}}</label>
            <div class="col-md-10">
                <ngb-timepicker required name="tob" id="tob" formControlName="tob"
                                [meridian]="true"></ngb-timepicker>
                <div *ngIf="formControls.tob.touched">
                    <p class="error" *ngIf="formControls.tob.errors?.required">{{appService.getMessage('tobRequired')}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-11">
                    <label class="required">{{formContent.questions}}</label>
                </div>
                <div class="col-sm-1 text-align-right">
                    <button type="button" class="btn btn-md btn-info" (click)="addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div formArrayName="questions">
                <div class="row" *ngFor="let item of questions.controls; let pointIndex=index" [formGroupName]="pointIndex">
                    <div class="col-sm-1 pt-2">
                        <span class="color-light"><strong>{{pointIndex + 1}}</strong></span>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" formControlName="question" class="form-control">
                    </div>
                    <div class="col-sm-1 text-align-right mt-1">
                        <button type="button" class="btn btn-md btn-danger" (click)="removeQuestion(pointIndex)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <button type="submit" [disabled]="!queryForm.valid" class="btn btn-primary">{{formContent.submitQuery}}</button>
            </div>
        </div>
    </form>
    <hr>
</div>