<div class="container-fluid" *ngIf="contentLoaded">
    <app-page-title title="{{data.queryForm.title}}"></app-page-title>
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
        <fieldset [disabled]="disableForm">
            <div class="form-group row">
                <label class="col-md-12 col-form-label">
                    <h3><u>Note :</u></h3>
                    <li *ngFor="let condition of data.noteConditions">{{condition}}</li>
                </label>
            </div>

            <div class="form-group row">
                <label for="service" class="col-md-2 col-form-label required">Service</label>
                <div class="col-md-6">
                    <select class="form-control" formControlName="service" id="service" name="service" (change)="onServiceChange($event)" required>
                        <option *ngFor="let service of data.services; let i = index" [value]=service.id>
                            {{service.heading}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-md-2 col-form-label required">{{data.queryForm.email}}</label>
                <div class="col-md-10">
                    <input required type="text" formControlName="email" class="form-control" id="email" name="email">
                    <div *ngIf="formControls.email.touched">
                        <p class="error" *ngIf="formControls.email.errors?.required">{{appService.getMessage('emailRequired')}}</p>
                        <p class="error" *ngIf="formControls.email.errors?.pattern">{{appService.getMessage('invalidEmail')}}</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="primary" class="col-md-2 col-form-label required">{{data.queryForm.primary}}</label>
                <div class="col-md-4">
                    <input formControlName="primary" type="text" class="form-control" name="primary" id="primary">
                    <div *ngIf="formControls.primary.touched">
                        <p class="error" *ngIf="formControls.primary.errors?.required">{{appService.getMessage('primaryRequired')}}</p>
                        <p class="error" *ngIf="formControls.primary.errors?.pattern">{{appService.getMessage('invalidNumber')}}</p>
                    </div>
                </div>

                <label for="secondary" class="col-md-2 col-form-label">{{data.queryForm.secondary}}</label>
                <div class="col-md-4">
                    <input formControlName="secondary" type="text" class="form-control" name="secondary" id="secondary">
                    <div *ngIf="formControls.secondary.touched">
                        <p class="error" *ngIf="formControls.secondary.errors?.pattern">{{appService.getMessage('invalidNumber')}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="showSecondPerson" class="person-label">{{data.queryForm.boyDetail}}</div>

            <div class="form-group row">
                <label for="fname" class="col-md-2 col-form-label required">{{data.queryForm.fname}}</label>
                <div class="col-md-10">
                    <input required formControlName="fname" type="text" class="form-control" id="fname" name="fname">
                    <div *ngIf="formControls.fname.touched">
                        <p class="error" *ngIf="formControls.fname.errors?.required">{{appService.getMessage('fnameRequired')}}</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="pob" class="col-md-2 col-form-label required">{{data.queryForm.pob}}</label>
                <div class="col-md-4">
                    <input required formControlName="pob" type="text" class="form-control" id="pob" name="pob">
                    <div *ngIf="formControls.pob.touched">
                        <p class="error" *ngIf="formControls.pob.errors?.required">{{appService.getMessage('pobRequired')}}</p>
                    </div>
                </div>

                <label for="sob" class="col-md-2 col-form-label required">{{data.queryForm.sob}}</label>
                <div class="col-md-4">
                    <select class="form-control" id="sob" name="sob" formControlName="sob" required>
                        <option *ngFor="let state of data.queryForm.states;let i = index" value="{{state}}">{{state}}</option>
                    </select>
                    <div *ngIf="formControls.sob.touched">
                        <p class="error" *ngIf="formControls.sob.errors?.required">{{appService.getMessage('sobRequired')}}</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="dob" class="col-md-2 col-form-label required">{{data.queryForm.dob}}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control" required name="dob" id="dob" formControlName="dob" ngbDatepicker
                               [minDate]="{year: 1900, month: 1, day: 1}"
                               #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="formControls.dob.touched"><p class="error" *ngIf="formControls.dob.errors?.required">{{appService.getMessage('dobRequired')}}</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="tob" class="col-md-2 col-form-label required time-input">{{data.queryForm.tob}}</label>
                <div class="col-md-10">
                    <ngb-timepicker required name="tob" id="tob" formControlName="tob"
                                    [meridian]="true"></ngb-timepicker>
                    <div *ngIf="formControls.tob.touched">
                        <p class="error" *ngIf="formControls.tob.errors?.required">{{appService.getMessage('tobRequired')}}</p>
                    </div>
                </div>
            </div>

            <div *ngIf="showSecondPerson">
                <div class="person-label">{{data.queryForm.girlDetail}}</div>

                <div class="form-group row">
                    <label for="fname_2" class="col-md-2 col-form-label required">{{data.queryForm.fname_2}}</label>
                    <div class="col-md-10">
                        <input formControlName="fname_2" type="text" class="form-control" id="fname_2" name="fname_2">
                        <div *ngIf="formControls.fname_2.touched">
                            <p class="error" *ngIf="formControls.fname_2.errors?.required">{{appService.getMessage('fnameRequired')}}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="pob_2" class="col-md-2 col-form-label required">{{data.queryForm.pob_2}}</label>
                    <div class="col-md-4">
                        <input formControlName="pob_2" type="text" class="form-control" id="pob_2" name="pob_2">
                        <div *ngIf="formControls.pob_2.touched">
                            <p class="error" *ngIf="formControls.pob_2.errors?.required">{{appService.getMessage('pobRequired')}}</p>
                        </div>
                    </div>

                    <label for="sob_2" class="col-md-2 col-form-label required">{{data.queryForm.sob_2}}</label>
                    <div class="col-md-4">
                        <select class="form-control" id="sob_2" name="sob_2" formControlName="sob_2">
                            <option *ngFor="let state of data.queryForm.states;let i = index" value="{{state}}">{{state}}</option>
                        </select>
                        <div *ngIf="formControls.sob_2.touched">
                            <p class="error" *ngIf="formControls.sob_2.errors?.required">{{appService.getMessage('sobRequired')}}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="dob_2" class="col-md-2 col-form-label required">{{data.queryForm.dob_2}}</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input class="form-control" name="dob_2" id="dob_2" formControlName="dob_2" ngbDatepicker
                                   [minDate]="{year: 1900, month: 1, day: 1}"
                                   #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="formControls.dob_2.touched"><p class="error" *ngIf="formControls.dob_2.errors?.required">{{appService.getMessage('dobRequired')}}</p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tob_2" class="col-md-2 col-form-label required time-input">{{data.queryForm.tob_2}}</label>
                    <div class="col-md-10">
                        <ngb-timepicker name="tob_2" id="tob_2" formControlName="tob_2"
                                        [meridian]="true"></ngb-timepicker>
                        <div *ngIf="formControls.tob_2.touched">
                            <p class="error" *ngIf="formControls.tob_2.errors?.required">{{appService.getMessage('tobRequired')}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="showQuestions">
                <div class="row">
                    <div class="col-sm-11">
                        <label class="required">{{data.queryForm.questions}}</label>
                    </div>
                    <div class="col-sm-1 text-align-right">
                        <button type="button" class="btn btn-md btn-info" (click)="addQuestion()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div formArrayName="questions">
                    <div class="row" *ngFor="let item of questions.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="col-sm-1 pt-2">
                            <span class="color-light"><strong>{{pointIndex + 1}}</strong></span>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" formControlName="question" class="form-control">
                        </div>
                        <div class="col-sm-1 text-align-right mt-1">
                            <button type="button" class="btn btn-md btn-danger" (click)="removeQuestion(pointIndex)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-5">
                <div class="row">
                    <label class="col-md-1 col-form-label">Cost</label>
                    <div class="col-md-3">
                        <input type="text" formControlName="amount" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-5">
                <div class="col-sm-12 text-center">
                    <button type="submit" [disabled]="!queryForm.valid" class="btn btn-primary mt-1">
                        <span *ngIf="!disableForm">{{data.queryForm.submitQuery}}</span>
                        <span *ngIf="disableForm"><span class="fa fa-spinner fa-spin"></span></span>
                    </button>
                    <a class="btn btn-info ml-1 mt-1" target="_self" href="assets/report/report.pdf" download="Report.pdf">
                        <span>{{data.queryForm.downloadSampleReport}}&nbsp;&nbsp;<span class="fa fa-download"></span></span>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div *ngIf="!contentLoaded">
    <app-loading></app-loading>
</div>