@import "src/utilities/colorpalette";

form label {
  color: $primary;
}

.error {
  color: red;
}

.required::after {
  content: "*";
  color: red;
}

.time-input {
  line-height: 100px;
}

.title {
  text-align: center;
  margin: 30px;
}

.person-label {
  text-align: center;
  color: $primary;
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid white;
  margin: 40px 0;
  border-top: 1px solid white;
  padding: 10px 0;
}

.calendar {
  background: linear-gradient(to bottom right, #ef7f00, #f7b200);
}

.btn {
  &.btn-primary {
    width: 40%;
    background: linear-gradient(to bottom right, #ef7f00, #f7b200);
    @media only screen and (max-device-width: 600px) {
      width: 100%;
    }
  }

  &.btn-checkout {
    @media only screen and (max-device-width: 600px) {
      width: 100%;
    }
    width: 40%;
  }

  &.btn-review {
    @media only screen and (max-device-width: 600px) {
      width: 100%;
    }
    width: 30%;
  }
}
