@import "src/utilities/colorpalette";

.card-container {
  height: 200px;
  margin: 5px 0;

  .card-title {
    text-align: center;
    border-bottom: 2px solid $primary;
    border-top: 2px solid $primary;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: large;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
      font-size: large;
    }
  }

  .card-text {
    text-align: center;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: small;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1200px) {
      font-size: medium;
    }
  }
}
