<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h6 class="site-footer-header">About</h6>
                <p class="text-justify">We are committed to business and personal transformation by providing useful
                    tools and strategies based upon ancient sciences of Vedic astrology and Vastu. Our consultations are
                    based on the concept of Panchtatwa(five elements: earth, air, water, fire & ether) & their interplay
                    in our birth charts & buildings.</p>
            </div>

            <!--            <div class="col-xs-6 col-md-3">-->
            <!--                <h6 class="site-footer-header">Categories</h6>-->
            <!--                <ul class="footer-links">-->
            <!--                    <li><a href="#">Category 1</a></li>-->
            <!--                    <li><a href="#">Category 2</a></li>-->
            <!--                    <li><a href="#">Category 3</a></li>-->
            <!--                    <li><a href="#">Category 4</a></li>-->
            <!--                    <li><a href="#">Category 5</a></li>-->
            <!--                    <li><a href="#">Category 6</a></li>-->
            <!--                </ul>-->
            <!--            </div>-->

            <div class="col-xs-6 col-md-4">
                <h6 class="site-footer-header">Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; {{year}} All Rights Reserved by
                    <a href="#">AstroPundit</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>