<div id="loadingOverlay" class="loadingOverlay pageOverlay">
    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-1">
            <img class='img-left' src="assets/images/gifs/loader.gif" alt=""/>
        </div>
        <div class="col-xs-4 col-sm-8 col-md-10">
            <div class="loading-text">Loading....</div>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-1">
            <img class='img-right' src="assets/images/gifs/loader.gif" alt=""/>
        </div>
    </div>
</div>