#login .container #login-row #login-column #login-box {
  max-width: 600px;
  background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.login-social-btn {
  margin-bottom: 3px;
  margin-right: 5px;
  width: 20px
}