<app-page-title title="Admin Panel"></app-page-title>
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div style="border: 2px solid white; padding: 10px">
                            <div class="form-group">
                                <div class="text-align-center"><label for="email" class="text-primary">Email</label><br></div>
                                <input ngModel type="text" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="text-align-center"><label for="password" class="text-primary">Password</label><br></div>
                                <input ngModel type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group text-align-center">
                                <button type="submit" [disabled]="disableForm" class="btn btn-primary">
                                    <span *ngIf="!disableForm">Login</span>
                                    <span *ngIf="disableForm"><span class="fa fa-spinner fa-spin"></span></span>
                                </button>
                            </div>
                        </div>
                        <div class="text-align-center mt-1">
                            <p>OR</p>
                        </div>
                        <div class="form-group text-align-center" (click)="socialLogin()">
                            <a class="btn btn-light" role="button">
                                <img alt="Google sign-in" class="login-social-btn" src="assets/images/logo/Google.png"/>
                                Login with Google
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
