@import "src/utilities/colorpalette";
@import '~ngx-toastr/toastr';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";


body {
  background-color: black;
}

h1 {
  color: $light;
}


h2 {
  color: $light;
}

h3 {
  color: $light;
}

p {
  color: $secondary;
}

hr {
  background-color: white;
}


//Other utlity classes
.color-light {
  color: $light;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.jumbotron {
  padding: 0 !important;
}
