<div id="demo" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
        <li data-target="#demo" *ngFor="let model of models; let i = index" [attr.data-slide-to]="i"
            ngClass="i == 0 ? 'active' : ''"></li>
    </ul>

    <div class="carousel-inner">
        <div *ngFor="let model of models" class="carousel-item carousel-size-lg"
             [ngStyle]="getImageUrl(model)" [ngClass]="{'active': model.id === 0}">
            <div class="carousel-content-container">
                <div class="carousel-content-heading">
                    <h1 *ngIf="language === 'en'" class="carousel-content-text" [ngStyle]="getTextScheme(model)">{{model.title.en}}</h1>
                    <h1 *ngIf="language === 'hi'" class="carousel-content-text" [ngStyle]="getTextScheme(model)">{{model.title.hi}}</h1>
                </div>

                <hr [ngStyle]="getBackgroundScheme(model)">

                <div class="carousel-content-sub">
                    <h5 style="word-spacing: 10px;" *ngIf="language === 'en'" class="carousel-subcontent-text" [ngStyle]="getTextScheme(model)">{{model.content.en}}</h5>
                    <h5 style="word-spacing: 10px;" *ngIf="language === 'hi'" class="carousel-subcontent-text" [ngStyle]="getTextScheme(model)">{{model.content.hi}}</h5>
                </div>
            </div>
            <div class="know-link">
                <a *ngIf="language === 'en'" class="btn btn-light btn-lg" href="#" role="button">Know more</a>
                <a *ngIf="language === 'hi'" class="btn btn-light btn-lg" href="#" role="button">अधिक जानिए</a>
            </div>

        </div>


        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

